#navigator{
    font-size: 17px;
    font-family: 'Poppins', sans-serif !important;
}
#imagen-logo{
    padding-left: 5%;
    max-width: 300px;
}
#button-ingresar{
    color:#ffffff!important;
    border-color: #8064A2;
    background-color: transparent;
    margin-right: 0.8rem !important;
}
#button-ingresar:hover{
    color:#ffffff!important;
    border-color: #ffffff;
    transition: 1s;
}
#button-registrarse{
    background:linear-gradient(90deg, rgba(147,0,214,1) 0%, rgba(123,40,255,1) 100%)!important ;
    border-color: #8064A2;
}
#button-registrarse:hover{
    background:linear-gradient(90deg, rgba(123,40,255,1) 0%, rgba(147,0,214,1) 100%)!important ;
    border-color: #ffffff;
    transition: 1s;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}

.bgcolor{
    background: rgb(33,37,41);
    transition: background-color 400ms linear;
}

#margen-barra{
    padding-right: 15%;
    max-width: 400px;
}
#buy-button img{
    max-height: 40px;
    color: purple !important;
}
#dropdown-email{
    background-color: transparent !important;
    border-color: #8100d6;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.searchTerm {
    width: 100%;
    border:0;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #1b1b1b;
}
  
.searchTerm:focus{
    color: #8100d6;
}
  
.searchButton {
    width: 40px;
    height: 40px;
    border:0;
    background: #8100d6;
    border-radius: 5px 0 0 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}