#form-box{
    padding:15%
}
body{
    font-family: 'Poppins', sans-serif !important;
        /* fallback for old browsers */
        background: #6a11cb;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        position: relative;
    padding-bottom: 210px;
    min-height:100vh;
      
}
#orden-formulario{
    display: grid;
    grid-template-columns: 1fr 1fr ;

}
#dimension-registro{
    width: 85% !important;
}
#form-box{
    padding: 20px;
}
.form-group{
    padding: 2%;
}