body{
    
    display: inline-flexbox;
    flex-direction: column-reverse;
    font-family: 'Poppins', sans-serif !important;
    align-items: flex-start;
    justify-content: left;
    background-color:rgb(163, 162, 162);
    position: relative;
    padding-bottom: 210px;
    min-height:100vh;
}
.card-title{
    height: 80px;
}
.card-body a{
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
}
  .card-body a:hover{
color: #8100d6 !important;
transition: .3s;


}
.carta-oferta{
    height: 390px;
    border-radius: 0rem !important;
    padding: 5px;
    margin: 7px 7px auto;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.041);
}
.carta-oferta:hover{
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.8);
    transition: 0.3s;
}
button{
    background-color: #063780; 
    color: rgb(248, 144, 74); 
}
.cancelbtn { 
    width: auto; 
    padding: 10px 18px;
    margin: 10px 5px;
} 
.purchasebtn { 
    width: auto; 
    padding: 15px 23px;
    margin: 13px 8px;
} 
header{
    width: auto;
    padding: auto;
    background-color: rgb(187, 187, 187);
}
#header__section{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
#root{
    margin-bottom: 0%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#ul__nav{
    display:list-item;
    padding-left: 1px;
    padding-right: 1px;
    list-style: none;
}