<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Choise Hardware | Carrito</title>
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/productsOrder.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <header>
      <div id="navigator"></div>
    </header>
    <html lang="en">

      <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Basket</title>
      </head>
      
      <div class="basket">
        
        <div class="basket-labels">
          <ul>
            <li class="item item-heading">Item</li>
            <li class="price">Precio</li>
            <li class="quantity">Cantidad</li>
            <li class="subtotal">Subtotal</li>
          </ul>
        </div>

        <div id="productos">
        </div>

      </div>
      <aside>
        <div class="summary">
          <div class="summary-total-items"><span class="total-items"></span> Items en tu carrito</div>
          <div class="summary-subtotal">
            <div class="subtotal-title">Subtotal</div>
            <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
            <div class="summary-promo hide">
              <div class="promo-title">Promotion</div>
              <div class="promo-value final-value" id="basket-promo"></div>
            </div>
          </div>
          <div class="summary-delivery">
            <select name="delivery-collection" class="summary-delivery-selection">
                <option value="0" selected="selected">Efectivo</option>
               <option value="collection">Transferencia</option>
               <option value="first-class">Debito</option>
               <option value="second-class">Credito</option>
            </select>
          </div>
          <div class="summary-total">
            <div class="total-title">Total</div>
            <div class="total-value final-value" id="basket-total">130.00</div>
          </div>
          <div class="summary-checkout">
            <button class="checkout-cta">Comprar</button>
          </div>
        </div>
      </aside>

    <main>
      <div id="root"></div>
    </main>
    <footer id="footer-distributed"></footer>

    <script src="../lib/js/orderAlgorithm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" ></script>
    <script type="module" src="../js/redirections/orden.js"></script>
  </body>
</html>
